/* Theme colors */
$white: #fff;

$red-500: #860128;

$gray-50: #efefed;
$gray-100: #dbdbd7;
$gray-150: #f3f3f1;
$gray-200: #f4f4f4;
$gray-300: #a9a9a9;
$gray-400: #75727b;
$gray-900: #494551;

$blue-300: #00bdd6;
$blue-400: #0b6dd4;
$blue-500: #0a4f70;
$blue-600: #1a5c99;
$blue-700: #3a5c80;

$logo: #0a62bf;

$green-200: #00b518;

$yellow-200: #fad376;
$yellow-500: #f7b51b;
$yellow-600: #dea318;
