@import "./../../../assets/scss/globals.scss";

.header {
  background-color: $white;
  display: flex;
  justify-content: center;
  padding: 1.25rem 0;
  gap: 4rem;
}

.header img {
  height: 9rem; /* cada 1rem tem 16px; */
}
