@import "./../../../styles.scss";

.comment {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.commentBox {
  flex: 1;
}

.commentContent {
  background-color: #c6d9df;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.commentContent header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.authorAndTime strong {
  display: block;
  font-size: 0.875rem;
  line-height: 1.6;
  color: $gray-900;
}

.authorAndTime time {
  display: block;
  font-size: 0.75rem;
  line-height: 1.6;
  color: #75727b;
}

.commentContent header button {
  background-color: transparent;
  border: 0;
  color: $gray-900;
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;
}

.commentContent header button:hover {
  color: red;
}

.commentContent p {
  margin-top: 1rem;
  color: $gray-900;
}

.commentBox footer {
  margin-top: 1rem;
}

.commentBox footer button {
  background-color: transparent;
  border: 0;
  color: blue-250;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 2px;
}

.commentBox footer button:hover {
  color: $blue-700;
}

.commentBox footer button svg {
  margin-right: 0.5rem;
}

.commentBox footer button span::before {
  content: "\2022";
  padding: 0 0.25rem;
}
