<div *ngIf="!!employee" class="container">
  <div>
    <aside class="profile">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        (click)="goHome()"
      >
        Home
      </button>
      <img
        class="cover"
        src="https://images.unsplash.com/photo-1617042375876-a13e36732a04?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=40"
      />
      <div class="avatar-container">
        <app-avatar
          [avatarUrl]="employee.photo"
          [hasBorder]="true"
        ></app-avatar>

        <strong>{{ employee.name }} </strong>
        <strong>{{ employee.role }} </strong>
        <span>{{ employee.birthDay | date }}</span>
      </div>
    </aside>
    <!-- OpenWeather API-->
    <app-weather></app-weather>
  </div>

  <app-post [employeeId]="employeeId"></app-post>
</div>
