@import "./../../../assets/scss/globals.scss";

.avatar {
  box-sizing: initial;
  width: 5rem;
  height: 5rem;
  border-radius: 8px;
}

.avatarWithBorder {
  box-sizing: initial;
  width: 5rem;
  height: 5rem;
  border-radius: 8px;
  border: 4px solid $brand-500;
  outline: 2px solid $brand-500;
}
