@import "./../../../styles.scss";

.post {
  background-color: #e9f4f7;
  border-radius: 8px;
  padding: 2.5rem;
}

.post + .post {
  margin-top: 2rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.authorInfo strong {
  color: #75727b;
  line-height: 1.6;
}

.authorInfo span {
  font-size: 0.875rem;
  color: $gray-300;
  line-height: 1.6;
}

.commentForm {
  width: 100%;
}

.commentForm > strong {
  line-height: 1.6;
  color: #75727b;
}

.commentForm textarea {
  width: 100%;
  background-color: $white;
  border: 0;
  resize: none;
  height: 6rem;
  padding: 1rem;
  border-radius: 8px;
  color: $gray-900;
  line-height: 1.4;
  margin: 1rem 0;
}

.commentForm footer {
  visibility: hidden;
  max-height: 0;
}

.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}

.commentList {
  margin-top: 2rem;
}
