<article class="post">
  <form class="commentForm" [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <strong>Leave a birthday message</strong>

    <textarea
      formControlName="message"
      placeholder="Leave a comment"
    ></textarea>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="postForm.invalid"
    >
      Publish
    </button>
  </form>

  <div class="commentList">
    <app-comment [employeeId]="employeeId"></app-comment>
  </div>
</article>
